*{
	margin: 0;
	padding: 0;
}

h1, h2, h3{
		font-family: 'Muli', sans-serif;
		font-weight: bolder;
}


header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
   url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headertext {
	color: white;
}

main{
	margin: 0 auto;
	max-width: 85%;
	padding-top: 2%;
}
.wrapper{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 2fr 1fr;
	grid-gap: 2%;
	font-family: 'Lato', sans-serif;
}

.articlegroot{
	grid-column: 1/2;
}	

.articlehoog{
	grid-column: 2/3;
	grid-row: 1/3;
}

.articlehoog img{
	height: 80px;
	float: right;
	display: inline;
	margin: 2%;
	border: solid black;
}
main span{
	text-decoration: underline;
	font-weight: bold;
}

main a{
	color: #24388a;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	font-weight: bolder;
}

main a:hover{
	text-decoration: underline;
}

